{% extends 'base.html.twig' %}

{% block title %}Appointment {{ appointment.eventName}}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Agenda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Appointment {{ appointment.eventName }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img src="https://i.ibb.co/SyHp5Zy/delivery-tempo-icon-256x256.png" alt="stack photo" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                    <h2>Appointment <strong>{{ appointment.appointment }}</strong></h2>
                </div>
                <hr>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'multipart': true}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.date) }}
                    {{ form_row(form.appointment) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.eventName) }}
                </div>
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Update</button>
            <a class="btn btn-default" href="#">Cancel</a>

        </div>
    </div>
            </div>
        </div>
    </div>
</div>
    {{ form_end(form) }}
{% endblock %}


