{% extends 'base.html.twig' %}

{% block title %}Delivery {{ delivery.productName }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('allDeliveries') }}">All Deliveries</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delivery {{ delivery.productName }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img src="https://i.ibb.co/jMjzzNX/newspaper-icon-256x256.png" alt="stack photo" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                    <h2> Delivery No. <strong>{{ delivery.id }}</strong></h2>
                </div>
                <hr>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'multipart': true}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.productName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.barcode) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.measure) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.quantity) }}
                </div>

                <div class="col-md-8">
                    {{ form_row(form.bestToDate) }}
                </div>
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Save</button>
            <a class="btn btn-default" href="{{ path('allDeliveries') }}">Cancel</a>

        </div>
    </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
    {{ form_end(form) }}
{% endblock %}


